#employment-option {
    padding: 5%;
    margin-left: 5px !important;
  }
  #employment-option2 {
    padding: 5%;
    margin-left: 5px !important;
  }
  .jobDesc {
    padding: 2%;
    margin-left: 5px;
  }
  .loginAs {
    margin-left: 5px !important;
  }
  .inpu {
    margin-left: 10px !important;
  }
  ion-button {
    margin-left: 16px;
    margin-top: 10px;
  }
  ion-content {
    --background: url("/assets/background/background.jpg") no-repeat center/cover
      fixed;
  }
  ion-input {
    --background: #c4c4c4;
    margin-right: 2rem;
    width: 85%;
  }
  