<ion-header>
  <ion-toolbar>
    <ion-icon  (click)="toJobs()"  name="arrow-back"   size="large" slot="start"></ion-icon>
    <ion-title>Full Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
  <ion-card  *ngIf="job" >
  
  
 
    <ion-card-header>
    
      <ion-card-title>{{job.postName}}</ion-card-title><br>
      <br>
      <ion-card-subtitle>
        {{job.location}}
      </ion-card-subtitle>
      <div class="info">
        <div class="first">
          <p class="p">{{job.contractType}}</p>
        </div>
        <div class="second">
          <p class="p">{{job.closeDate}}</p>
          
        </div>
        <div class="third">
          <p class="p">{{job.employmentType}}</p>
        </div>
      </div>
      
     
    </ion-card-header>
    
    
  </ion-card>
  <ion-card ion-card  *ngIf="job" >
    <p >{{job.dsc}}</p>

  </ion-card>
  <ion-button class="login-btn" expand="block" shape="round" (click)="apply(job.id_recruiter)" >Apply</ion-button>
</ion-content>
 