<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-icon class="icon2" name="arrow-back"  (click)="back()" size="large" slot="start"></ion-icon>
    <ion-title> Post </ion-title>
  </ion-toolbar>
</ion-header>
<!--<div class="top">
  <ion-fab vertical="top" horizontal="start" slot="fixed">
    <ion-fab-button (click)="back()">
      <ion-icon  class="arrow" name="arrow-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
  <h2>post</h2>
</div>-->

<ion-content >
   <br>
   <br>
   <br>
  <form (ngSubmit)="job(JobData)" #JobData="ngForm">
    <div class="inpu">
      <ion-label for="ref">Enter company name:</ion-label><br>
      <ion-input
        maxlength="30"
        minlength="2"
        #companyName="ngModel"
        name="companyName"
        type="text"
        placeholder="Company name"
        ngModel
        required
      ></ion-input>


   
      <ion-label for="ref">Enter Reference number:</ion-label><br>
      <ion-input
        #refNumber="ngModel"
        maxlength="100"
        minlength="2"
        name="refNumber"
        placeholder="Reference number"
        type="text"
        ngModel
        required
      ></ion-input>

      <ion-label for="ref">Enter post name/title:</ion-label><br>
      <ion-input
        maxlength="100"
        minlength="5"
        name="postName"
        #postName="ngModel"
        type="text"
        placeholder="Senior clinical lead"
        ngModel
        required
      >
      </ion-input>
    </div><br>

    <ion-list>
      <ion-list-header>
        <ion-label> Choose a contract Type: </ion-label>
      </ion-list-header>
    </ion-list>
    <label class="loginAs">Please choose a contract type </label><br />
    <div id="employment-option" class="md-form">
      <div class="first">
        <input
          name="contractType"
          ngModel
          #contractType="ngModel"
          class="select"
          type="radio"
          value="Permanent"
          id="radio"
        />
        Permanent
      </div>
      <div class="second">
        <input
          name="contractType"
          ngModel
          #contractType="ngModel"
          class="select"
          type="radio"
          value="Temporary"
          id="radio"
        />
        Temporary
      </div>
    </div>

    <ion-list>
      <ion-list-header>
        <ion-label> Hours </ion-label>
      </ion-list-header>
    </ion-list>
    <label class="loginAs">Please choose an Employment type </label><br />
    <div id="employment-option2" class="md-form">
      <div class="first">
        <input
          name="employmentType"
          ngModel
          #employmentType="ngModel"
          class="select"
          type="radio"
          value="FullTime"
          id="radio"
        />
        Full Time
      </div>
      <div class="second">
        <input
          name="employmentType"
          ngModel
          #employmentType="ngModel"
          class="select"
          type="radio"
          value="PartTime"
          id="radio"
        />
        Part Time
      </div>
    </div>

    <div class="jobDesc">
      <label>Job Description:</label><br />
      <ion-textarea
        name="description"
        ngModel
        #description="ngModel"
        placeholder="type your describtion here.."
      ></ion-textarea>
    </div>

   <!--<ion-item>
      <ion-input
        name="no"
        ngModel
        #no="ngModel"
        type="number"
        placeholder="No of post"
      ></ion-input>
    </ion-item>-->  
    <div class="inpu">
    <ion-label for="ref">Enter Enter location</ion-label><br>
      <ion-input
        name="location"
        ngModel
        #location="ngModel"
        maxlength="30"
        minlength="2"
        type="text"
        placeholder="Location"
        ngModel
        required
      ></ion-input>
   

  
      <ion-label>Closing date:</ion-label>
   
      <ion-input
        name="closeDate"
        ngModel
        #closeDate="ngModel"
        min="{{Date}}"
        type="date"
        placeholder="Closing date"
        ngModel
        required
      ></ion-input>
   
  </div>
    
    <!--<ion-button type="submit" color="primary">POST</ion-button>-->
    <ion-button type="submit" class="login-btn" expand="block" shape="round" >POST</ion-button>
  </form>
</ion-content>
