#employment-option {
  padding: 5%;
  margin-left: 5px !important;
}
#employment-option2 {
  padding: 5%;
  margin-left: 5px !important;
}
.jobDesc {
  padding: 2%;
  margin-left: 5px;
}
.loginAs {
  margin-left: 5px !important;
}
.inpu {
  margin-left: 10px !important;
}
ion-button {
  margin-left: 16px;
  margin-top: 10px;
}
ion-content {
  // --background: url("/assets/background/background.jpg") no-repeat center/cover
  // fixed;
}
ion-input {
  --background: #c4c4c4;
  margin-right: 2rem;
  width: 85%;
  color: black;
  border: 1px solid rgb(223, 60, 245);
  --box-shadow: 0 4px 25px rgb(107, 15, 119);
}
.top {
  display: flex;
  justify-content: space-around;
  background-color: rgb(223, 60, 245);
  padding: 2rem;
  border-bottom-right-radius: 20%;
  border-bottom-left-radius: 20%;
}
ion-fab-button {
  --background: white;
  --background-activated: white;
  --box-shadow: 0 4px 25px rgba(0, 0, 0, 0.849);
}
.arrow {
  color: rgb(223, 60, 245);
}
form {
  border: 1px solid rgb(223, 60, 245);
  padding: 1rem;
}
.login-btn {
  margin-bottom: 12px;
  margin-left: 7px;
  margin-right: 7px;
  --background: rgb(223, 60, 245);
  --background-activated: rgb(223, 60, 245);
  color: white;
  --box-shadow: 0 4px 25px rgb(223, 60, 245);
}
