<ion-header class="ion-no-border">
  <ion-toolbar>
    <!-- <ion-title>login</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="ion-no-margin">
    <ion-img src="assets/images/header.jpg"></ion-img>
    <ion-card-title>Welcome</ion-card-title>
    <ion-card-subtitle class="ion-text-lowercase">Finding a job made easier</ion-card-subtitle>

     <ion-card-content>
      <div class="singin-btns">
        <ion-button  size="small" fill="solid" shape="round" class="loginbtn" rou  (click)='login()'>Login </ion-button>


        <ion-button class="signUpButton" size="small" fill="outline " shape="round"   (click)='toSignUp()'  >Sign Up</ion-button>

      </div>

      


      

     </ion-card-content>
  </ion-card>
</ion-content>
