<ion-header class="ion-no-border icon">
  <ion-toolbar>
    
    <ion-icon  (click)="toJobs()"  name="arrow-back"   size="large" slot="start"></ion-icon>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>
<!--<div class="top">
  <ion-fab vertical="top" horizontal="start" slot="fixed">
    <ion-fab-button (click)="toJobs()" >
      <ion-icon  class="arrow" name="arrow-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
  <!--<ion-icon  (click)="toJobs()"  name="arrow-back"   size="large" slot="start"></ion-icon>
  <h1 class="prof">Profile</h1>
</div>-->

<ion-content class="background-image">
  <div class="container">
    <div class="overlay">
      <ion-avatar>
    <!-- <img src="../../../assets/images/header1.jpg">-->
        <img src="../../../assets/images/user-icon.svg" alt="user-picture">
       
      </ion-avatar>

    </div>
    <img src="" alt="">

   
  </div>

<ion-card *ngIf='details'>
  <ion-card-header>
    <ion-card-title>
      {{details.name}} {{details.surname}}
    </ion-card-title>
   
   
  </ion-card-header>
  <ion-card-content>

    <ion-item lines="none">
      <ion-icon name="mail"></ion-icon>
      <ion-label>{{details.email}}</ion-label>
    </ion-item>

    <ion-button [disabled]="true" expand='block' shape='round' color='primary' [routerLink]="['/rec-update']">Edit</ion-button>
    <ion-button (click)='logout()'  expand='block' shape='round' color='danger'>Logout</ion-button>

  </ion-card-content>
</ion-card>

</ion-content>