<!--<ion-header class="ion-no-border icon">
  <ion-toolbar>
    <ion-button    (click)="toJobs()"></ion-button>
    <ion-icon class="icon2" name="arrow-back"   size="large" slot="start"></ion-icon>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>-->
<div class="top">
  <ion-fab vertical="top" horizontal="start" slot="fixed">
    <ion-fab-button>
  
        <ion-icon (click)="toJobs()" class="arrow" name="arrow-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <h1 class="ejob">Profile</h1>
</div>

<ion-content>
  <div class="container">
    <div class="overlay">
      <ion-avatar>
    <!-- <img src="../../../assets/images/header1.jpg">-->
        <img src="../../../assets/images/user-icon.svg" alt="user-picture">
       
      </ion-avatar>

    </div>
    <img src="" alt="">

   
  </div>

<ion-card *ngIf='details'>
  <ion-card-header>
    <ion-card-title>
      {{details.name}} {{details.surname}}
    </ion-card-title>
   
   <div class="applied">
    <p>Applied</p>
   </div>
  </ion-card-header>
  <ion-card-content>

    <ion-item lines="none">
      <ion-icon name="mail"></ion-icon>
      <ion-label>{{details.email}}</ion-label>
      
    </ion-item>

   

  

  </ion-card-content>
  <ion-button  expand='block' shape='round'  [routerLink]="['/uploadimage']">Edit</ion-button>
</ion-card>

</ion-content>
