
<ion-content  class="ion-padding">
   <h3>Login</h3>
  

    <ion-card-content>
      <ion-list>
        <label>Sign In as </label><br>
        <div id="role" class="md-form">
         
            <div class="first">
              <input type="radio" [(ngModel)]="role" value="recruiter" id="radio" > recruiter
            </div>
            <div class="second">
              <input type="radio" [(ngModel)]="role" value="job seeker"  id="radio"   > job seeker
          </div>          
        </div>
      
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input [(ngModel)]="email" type="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">password</ion-label>
          <ion-input [(ngModel)]="password" type="password" ></ion-input>
        </ion-item>

      </ion-list>
    </ion-card-content>
    <ion-button class="login-btn" expand="block" shape="round" (click)="login()">Login</ion-button>
    <div class="googleLogin" style="padding: 5px; text-align: center;">
      <p>Or continue with</p>
      <ion-icon  style="font-size: 15px; padding: 10px; box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);" name="logo-google" (click)="Googlelogin()"></ion-icon>
    </div>
   <div style="padding: 20px;text-align: center;">
    <a (click)="forgot()">Forgot Password</a>
    <br>
    <p>Don't have an Account? <a (click)="register()">Register Now!</a></p>
   </div>


</ion-content>
