
     <!--call for menu funtioanilities
     <ion-buttons  slot="start" >
      <ion-menu-button class="menu" menu
      ="menu-content"></ion-menu-button>
    </ion-buttons>-->
    <!--end of call for menu funtioanilities-->
    <ion-header>
      <ion-toolbar>
     
        <ion-buttons  slot="start" >
           <!--<ion-icon class="menuLines" size="large" name="menu"></ion-icon>
              <ion-icon (click)="toJobs()" class="arrow" name="arrow-back"></ion-icon>-->
              <ion-menu-button class="menu" menu
              ="menu-content"></ion-menu-button>
         
            </ion-buttons>
           
        <ion-title>eJob
        
        </ion-title>
        
          
        
        
      </ion-toolbar>
      <ion-searchbar placeholder="Search Job"></ion-searchbar>
    </ion-header>

<ion-content>
  <!--<div class="top">
    <ion-fab vertical="top" horizontal="start" slot="fixed">
      <ion-fab-button>
       <ion-icon class="menuLines" size="large" name="menu"></ion-icon>
          <ion-icon (click)="toJobs()" class="arrow" name="arrow-back"></ion-icon>
          <ion-menu-button class="menu" menu
          ="menu-content"></ion-menu-button>
      </ion-fab-button>
      
    </ion-fab>
    <h1 class="ejob">eJob</h1>
  </div>-->
  
      <h2 class="recent">Recent Jobs</h2>
  <!--testing link-->
 <br>
 <br>
    
    <ion-card  *ngFor="let item of pickedJobs" >
    
    
   
      <ion-card-header>
        <ion-card-subtitle>
          
        </ion-card-subtitle>
        <ion-card-title [routerLink]="['/', 'detailed', item.payload.doc.id]"
        routerLinkActive="router-link-active">{{item.payload.doc.data().postName}}</ion-card-title>
        <p>{{item.payload.doc.data().employmentType}}</p> 
         <p>{{item.payload.doc.data().contractType}}</p>
        
  
         
       
      </ion-card-header>
    
    </ion-card>

  
 

</ion-content>
