<ion-header [translucent]="true">
  <ion-toolbar>
     <!--call for menu funtioanilities-->

    

     <ion-buttons  slot="start" >
      <ion-menu-button class="menu" menu
      ="menu-content"></ion-menu-button>
    </ion-buttons>
    <!--end of call for menu funtioanilities-->
  </ion-toolbar>

</ion-header>

<ion-content>
  <!--testing link-->
  <ion-card class="main">
    <h1>Recent Jobs</h1>
    <ion-card  *ngFor="let item of pickedJobs" [routerLink]="['/', 'detailed', item.payload.doc.id]"
    routerLinkActive="router-link-active">
    
    
   
      <ion-card-header>
        <ion-card-subtitle>
          
        </ion-card-subtitle>
        <ion-card-title>{{item.payload.doc.data().postName}}</ion-card-title>
        <p>{{item.payload.doc.data().employmentType}}</p> 
         <p>{{item.payload.doc.data().contractType}}</p>
        
  
         
       
      </ion-card-header>
      <a
      class="back"
      [routerLink]="['/', 'detailed', item.payload.doc.id]"
      routerLinkActive="router-link-active"
      ></a
    >
    </ion-card>
  </ion-card>
  
 

</ion-content>
