ion-content {
  --background: url("/assets/background/background.jpg") no-repeat center/cover
    fixed;
}
ion-card-header {
  text-align: center;
  align-items: center;
  align-content: center;
}
p {
  padding: 3%;
  background-color: white;
  width: 100px;
  text-align: center;
  align-items: center;
  align-content: center;
  border-radius: 10px;
}
ion-card {
  --background: #c4c4c4;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
}
h1 {
  padding: 3%;
}
.main {
  --background: white;
}
