ion-content {
    --background: url('/assets/background/background.jpg');
}
ion-card-header{
    text-align: center;
    align-items: center;
    align-content: center;
}
p{
    padding: 3%;
    background-color: white;
    width: 100px;
    text-align: center;
    align-items: center;
    align-content: center;
    border-radius: 10px;

}
ion-card{
    --background: #C4C4C4;
}
h1{
    padding: 3%;
   
    
}