#employment-option {
  padding: 5%;
  margin-left: 5px !important;
}
#employment-option2 {
  padding: 5%;
  margin-left: 5px !important;
}
.jobDesc {
  padding: 2%;
  margin-left: 5px;
}
.loginAs {
  margin-left: 5px !important;
}
.inpu {
  margin-left: 10px !important;
}
