<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="head">GET STARTED</ion-card-title>
    </ion-card-header>
    <div class="amount-wrapper">
     <div class="amount">
       <h1>R 5.00</h1>
       <h3>PER JOB POST</h3>
     </div>
    </div>
    <ion-card-content>
   
     <div class="info-wrap">
        <div class="info">
          <ul>
            <li>Pay and have access to our service</li>
            <br>
            <li>You only pay R5.00  and have your available positions advertised on our app</li>
          </ul>
        </div>
     </div>
    </ion-card-content>

    <ion-button class="login-btn" expand="block" shape="round" (click)="pay()"  >CONTINUE</ion-button>
    <ion-button class="login-btn" expand="block" shape="round"  >NO THANKS</ion-button>
  </ion-card>
</ion-content>
