<ion-header class="hearder"> 
  <ion-toolbar>
    <ion-title>Jobs You Posted</ion-title>
  </ion-toolbar>
</ion-header>

<!--<div class="top">
  <h1>Jobs You Posted</h1>
</div>-->

<ion-content>
  
  <ion-card *ngFor='let item of job'>
    <ion-item-sliding>
      <ion-item>
        <ion-label>
         {{item.postName}} <br>
        
        </ion-label>
      </ion-item>
      <ion-item-options>
        <ion-item-option color="danger">
          <ion-icon slot="start" (click)=" delete()" name="trash-sharp"></ion-icon>
          Delete
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    
  </ion-card>

  
  




  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon class="arrow" (click)="toPay()" name="paper-plane-sharp"></ion-icon>
    </ion-fab-button>
  </ion-fab>
 
  <!--<ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button>
      <ion-icon (click)="post()" name="paper-plane-sharp"></ion-icon>
    </ion-fab-button>
  </ion-fab>  -->
 
</ion-content>

