ion-content {
  --background: url("/assets/background/background.jpg") no-repeat center/cover
    fixed;
}

ion-card {
  --background: #c4c4c4;
}
.cancel {
  --background: rgb(245, 180, 180);
  --background-activated: rgb(245, 180, 180);
}
