




<!--<ion-content class="background-image">
 
 
   
  <ion-input type="file" (change)="upload($event)" accept="*.png.jpg.pdf" id="" ></ion-input>
  <ion-button (click)="uploadImage()">Upload Files</ion-button>
  
  
  <ion-button  expand='block' shape='round' color='primary'  [routerLink]="['/profile']">Continue</ion-button>



</ion-content>-->
<ion-header>
  <ion-toolbar>
    <ion-title>Update details</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding"  *ngIf='details'>


  <!--<ion-card-header>
    <h1 class="Reg" style="text-align: center;">Update details</h1>
  </ion-card-header>
  <ion-card-content>-->
    
   
     
     
      <br>
      <form (ngSubmit)="AddUsers(UserData)" #UserData="ngForm">
    <!-- <ion-item>
        <ion-label position="floating">Name</ion-label>-->
        <ion-input value="{{details.name}}" class="input" [(ngModel)]="details.name" type="text" placeholder="Name"  name="name"
        ngModel
        #name="ngModel"
        ngModel
        required></ion-input>
        <br>
       <!-- 
       <ion-item>
        <ion-label position='floating'>Surname</ion-label> -->
        <ion-input value="{{details.surname}}" [(ngModel)]='details.surname' type="text"  placeholder="Surname"  name="surname"
        ngModel
        #surname="ngModel"
        ngModel
        required></ion-input>
        <br>

      <!-- 
      <ion-item>
        <ion-label position="floating">Email</ion-label> -->
        <ion-input value="{{details.email}}" [(ngModel)]="details.email" type="email"  placeholder="Email"  name="email"
        ngModel
        #email="ngModel"
        ngModel
        required></ion-input>
        <br>

      <!--  
      <ion-item>
        <ion-label position="floating">password</ion-label>-->
       
        <br>
        <!-- 
      <ion-item>
        <ion-label position="floating">confirm password</ion-label>-->
       
        <ion-button  class="btnSign" expand="block" shape="round" type="submit" >Update</ion-button>
        </form>
  
  <!--<ion-button class="btnSign" expand="block" shape="round" (click)="update()">Update</ion-button>-->
  

</ion-content>