#role {
  display: flex;
  justify-content: space-between;
}
ion-input {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 2% !important;
}
ion-item {
  padding: 2% !important;
}
ion-label {
  margin-left: 10px !important;
}
