
<ion-content class="ion-padding">


    <ion-card-header>
      <h1 class="Reg" style="text-align: center;">Sign up</h1>
    </ion-card-header>
    <ion-card-content>
      
     
         <label class="regAs">Sign up as </label><br>
         <br>
        <div id="role" class="md-form">
         
            <div class="first">
              <input type="radio" [(ngModel)]="role" value="recruiter" id="radio" > recruiter
            </div>
            <div class="second">
              <input type="radio" [(ngModel)]="role" value="job seeker"  id="radio"   > job seeker
          </div>          
        </div>
        <br>
      <!-- <ion-item>
          <ion-label position="floating">Name</ion-label>-->
          <ion-input class="input" [(ngModel)]="name" type="text" placeholder="Name"></ion-input>
          <br>
         <!-- 
         <ion-item>
          <ion-label position='floating'>Surname</ion-label> -->
          <ion-input [(ngModel)]='surname' type="text"  placeholder="Surname"></ion-input>
          <br>
 
        <!-- 
        <ion-item>
          <ion-label position="floating">Email</ion-label> -->
          <ion-input [(ngModel)]="email" type="email"  placeholder="Email"></ion-input>
          <br>

        <!-- 
        <ion-item>
          <ion-label position="floating">password</ion-label>-->
          <ion-input [(ngModel)]="password" type="password"  placeholder="Password"></ion-input>
          <br>
          <!-- 
        <ion-item>
          <ion-label position="floating">confirm password</ion-label>-->
          <ion-input [(ngModel)]="confirmPassword" type="password" (ionChange)="checkPassword()"  placeholder="Confirm Password"></ion-input>
          <ion-text *ngIf="password && !passwordMatch" color="danger" >Password do not match</ion-text>
          <ion-text *ngIf="password && passwordMatch" color="success" >Password match</ion-text>
       
  
    </ion-card-content>
    <ion-button class="btnSign" [disabled]="!passwordMatch" expand="block" shape="round" color="primary" (click)="register()">Register</ion-button>


</ion-content>
